/* 1) CSS  подключается 
с помощью тегов  meta и style */
/* 2) формат SCC  правило*/
selector {
	color: red;
}
/* 3) для оформления текста 
	используются свойства
	- Размер шрифта
	- ТИ начертания(курсив 
	или нет)
	- Жирность 
	- цвет
*/

/* 4) размер шрифта*/
strong {font-size: 120%}
h2 {font-size: 40px}

/* 5) жироность шрифта*/
h2 {font-weight: bold;}
h1 {font-weight: 100...900;}
/* 6) курсив*/
h1 {font-style: italic;}